<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>树状图原始版.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9988EAC61EC5A424002631F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9988EADF1EC5A426002631F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9988EAEA1EC5A426002631F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
